In [1]:
import pandas as pd

In [2]:
# keys
# ['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [3]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')
m = float(len(data))

In [4]:
# Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

data.groupby('Sex').count()
# Answer: 314 577

,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Sex,,,,,,,,,,
female,314,314,314,261,314,314,314,314,97,312
male,577,577,577,453,577,577,577,577,107,577

In [6]:
# Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах
#   (число в интервале от 0 до 100, знак процента не нужен).

data['Survived'].sum() / m
# Answer: 0.3838

0.3838383838383838

In [7]:
# Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах
#   (число в интервале от 0 до 100, знак процента не нужен).

sum(data['Pclass'] == 1) / m
# Answer: 0.2424

0.24242424242424243

In [9]:
# Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите
#   два числа через пробел.

print data['Age'].mean()
print data['Age'].median()
# Answer: 29.69911764705882 28.0

29.6991176471
28.0

In [11]:
# Коррелируют ли число братьев/сестер с числом родителей/детей? Посчитайте корреляцию
#   Пирсона между признаками SibSp и Parch.

A = ['SibSp', 'Parch']
data[A].corr()['Parch']['SibSp']
# Answer: 0.41483769862015263

0.41483769862015263

In [13]:
# Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name)
#   его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных.
#   Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию.
#   Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен,
#   а также разделения их на женские и мужские.


names = data.groupby('Sex').get_group('female')['Name']
first_names = names.apply(lambda x: x.split()[2])
first_names.value_counts()
# Answer: Anna

William      13
Anna          9
Mary          9
Margaret      6
Elizabeth     6
John          6
Thomas        6
Frederick     5
Alice         5
Helen         4
Ellen         4
James         4
Bertha        4
Edward        4
Mrs.          3
Samuel        3
Hanora        3
Joseph        3
Charles       3
Kate          3
Annie         3
Katherine     3
Henry         3
Marion        2
Marjorie      2
Mabel         2
George        2
Emily         2
Alexander     2
Marija        2
             ..
Katie         1
Amy           1
Dorothy       1
Hjalmar       1
Dickinson     1
Laura         1
Hilda         1
Norman        1
Countess.     1
Laina         1
(Marion       1
Kristina      1
Adele         1
(Lutie        1
Helmina       1
Ann           1
Ethel         1
Gerda         1
Kornelia      1
Harriet       1
Carl          1
Stella        1
Jamila        1
Nourelain     1
Karl          1
Eva           1
Henriette     1
Robina        1
Jeannie       1
Richard       1
Name: Name, dtype: int64